.App_Ed_Res_Function {
  /*text-align: center;*/
  /*overflow-y: scroll;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  background-color: #61dafb;
}

/* Snap Scrolling */
*.container {
  display: grid;
  grid-auto-flow: column;
  align-content: start;
  /*place-items: left;*/
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100vw;
  /*height: 1000vh;*/

}

.child {
  scroll-snap-align: center;
  /*display: inline-block;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: #000;
  border-left-color: #fff;
  border-right-color: #fff;
  padding-bottom: 15px;
}

html {
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  display: flex; 
  flex-direction: row;
}


/* https://uxdesign.cc/creating-horizontal-scrolling-containers-the-right-way-css-grid-c256f64fc585 */
/* https://blog.logrocket.com/how-to-use-css-scroll-snap/*/

/* TODO: 
      - Set background images 
      - Add borders around the text items 
      - Format titles to be more toward top 
      - set background colors for text items 
      - text items -> flex container? grid? 

      - test and adjust multiple sizes of screens and mobile settings 

      - ADD ACTUAL CONTENT
      - If time: 
        - add discussion sections below each section 
        - add sharability on social media 
          - make it personalized somehow
*/
.child:nth-child(1n) {
  background-color: darkorchid;
  background-image: url('nature.jpg');
  background-size: 100% 100%;
}

.child:nth-child(2n) {
  background-color: indigo;
  background-image: url('pollution.jpg');
  background-size: 100% 100%;
}

.child:nth-child(3n) {
  background-color: violet;
  background-image: url('nature.jpg');
  background-size: 100% 100%;
}

.child:nth-child(4n) {
  background-color: navy;
  background-image: url('powerStation.jpg');
  background-size: 100% 100%;
}

.child:nth-child(5n) {
  background-color: pink;
  background-image: url('nature.jpg');
  background-size: 100% 100%;
}

.child:nth-child(6n) {
  background-color: teal;
  background-image: url('sustainable.jpg');
  background-size: 100% 100%;
}

.child > h1 {
  position: relative;
  top: 0px;
}

.sources {
  display: flex; 
  flex-flow: row nowrap;
  justify-content: space-around;  
}

.sources > * {
  border-color: #000;
  border: 2px;
  margin: 10%;
  padding: 10px;
  font-size: 65%;
  text-align: center;
  border: 5px solid #000;
  border-radius: 20px;
  justify-content: center;
  height: 30vh;
  width: 40vw;
  background-color: #F0FFF0;
  color: #000;
}
