.App_Ed_Res_Function {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  background-color: #61dafb;
}

/* Snap Scrolling */
.container {
  display: grid;
  grid-auto-flow: column;
  align-content: start;
}

.child {
  scroll-snap-align: center;
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

html {
  scroll-snap-type: x proximity;
  overscroll-behavior-x: contain;
}

:root {
  --gutter: 20px;
}

.App_Educating_Resources > * {
  grid-column: 2 / -2;
}

.App_Educating_Resources > .child {
  grid-column: 1 / -1;
}

.child {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px repeat(var(--total), calc(50% - var(--gutter) * 2)) 10px;
  grid-template-rows: minmax(150px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.child:before,
.child:after {
  content: '';
}