.App_Ed_Res_Function {
  /*text-align: center;*/
  /*overflow-y: scroll;*/
}

.container {
    /* scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain; */
    display: flex; 
    flex-direction: row;
    /* height: auto; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Snap Scrolling */
*.container {
  display: grid;
  grid-auto-flow: column;
  align-content: start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100vw;

}

.child {
  scroll-snap-align: center;
  /*display: inline-block;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: #000;
  border-left-color: #fff;
  border-right-color: #fff;
  padding-bottom: 15px;
}


/* https://uxdesign.cc/creating-horizontal-scrolling-containers-the-right-way-css-grid-c256f64fc585 */
/* https://blog.logrocket.com/how-to-use-css-scroll-snap/*/

/* TODO: 
      - Set background images 
      - Add borders around the text items 
      - Format titles to be more toward top 
      - set background colors for text items 
      - text items -> flex container? grid? 

      - test and adjust multiple sizes of screens and mobile settings 

      - ADD ACTUAL CONTENT
      - If time: 
        - add discussion sections below each section 
        - add sharability on social media 
          - make it personalized somehow
*/

.child {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.child:nth-child(1n) {
  color: #F0FFF0;
  background-color: darkorchid;

  background-image: url('masksOnBeach.jpg');
  /* background-size: 100% 100%; */
}

.child:nth-child(2n) {
  background-color: indigo;

  background-image: url('huge-tree.jpg');
  /* background-size: 100% 100%; */

}

.child:nth-child(3n) {
  background-color: violet;
  background-image: url('water-pollution.jpg');
  /* background-size: 100% 100%; */

}

.child:nth-child(4n) {
  background-color: navy;
  background-image: url('nature.jpg');
  /* background-size: 100% 100%; */

}

.child:nth-child(5n) {
  background-color: pink;
  background-image: url('pollution.jpg');
  /* background-size: 100% 100%; */

}

.child:nth-child(6n) {
  background-color: teal;
  background-image: url('sustainable.jpg');
  /* background-size: 100% 100%; */
}

.child > h1 {
  position: relative;
  top: 0px;
}

a {
  color: blue;
  text-decoration: underline;
}

a:link {
  color: blue;
  font-weight: bold;
}

a:focus {
  color: lightblue;
}

a:hover {
  color: lightblue;
}

a:visited {
  color: purple;
}

.sources {
  display: flex; 
  flex-flow: row nowrap;
  justify-content: space-around;  
}

.sources > * {
  border-color: #000;
  border: 2px;
  margin: 5%;
  padding: 10px;
  font-size: 65%;
  text-align: left;
  border: 5px solid #000;
  border-radius: 20px;
  height: 50vh;
  width: 50vw;
  background-color: #F0FFF0;
  color: #000;
}

.sources > h2 {
  justify-content: center;
}

.social_media_links {
  height: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social_media_links > SocialIcon {
  align-self: center;
}
