.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.form {
  display: flex;
  background-color: beige;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#flex {
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(223, 186, 139);
  padding: 10px;
}

#flex input label {
  max-width: 200px;
}